body {
  &.isExploreHidden {
    a[data-testid="AppTabBar_Explore_Link"] {
      display: none !important;
    }
  }

  &.isGrokHidden {
    header a[href*="/i/grok"] {
      display: none !important;
    }

    div#layers div[data-testid="GrokDrawer"] {
      display: none !important;
    }
  }


  &.isPremiumHidden {
    header a[href*="/i/premium_sign_up"] {
      display: none !important;
    }
  }

  &.isJobsHidden {
    header a[href*="/jobs"] {
      display: none !important;
    }
  }
  
  &.isCommunitiesHidden {
    header a[href*="/communities"] {
      display: none !important;
    }
  }
  
  &.isVerifiedOrganizationsHidden {
    header a[href*="/i/verified-orgs-signup"] {
      display: none !important;
    }
  }
  
  &.isTrendsHidden {
    div[data-testid="sidebarColumn"] {
      div:has(> div > aside > a[href="/i/premium_sign_up"]),
      div:has(> div > aside > ul > li[data-testid="UserCell"]),
      div:has(> section div > div > div[data-testid="trend"]),
      div:has(> div[data-testid="placementTracking"] > button div[data-testid="pill-contents-container"] div[data-testid="UserAvatar-Container-unknown"]) {
        display: none !important;
      }
    }
  }

  &.isReactionNumberHidden {
    div[data-testid="primaryColumn"] article:not(:hover) button {
      &[data-testid="reply"] ,
      &[data-testid="retweet"] ,
      &[data-testid="unretweet"] ,
      &[data-testid="like"] ,
      &[data-testid="unlike"],
      &[data-testid="bookmark"],
      &[data-testid="removeBookmark"] {
        span {
          opacity: 0 !important;
          transition-property: transform, opacity !important;
        }
      }
    }

    &.isReactionNumberAlwaysHidden {
      div[data-testid="primaryColumn"] article button {
        &[data-testid="reply"] ,
        &[data-testid="retweet"] ,
        &[data-testid="unretweet"] ,
        &[data-testid="like"] ,
        &[data-testid="unlike"],
        &[data-testid="bookmark"],
        &[data-testid="removeBookmark"] {
          span {
            opacity: 0 !important;
            transition-property: transform, opacity !important;
          }
        }
      }
    }
  }

  &.isViewCountHidden {
    article[data-testid="tweet"] {
      div.r-1wtj0ep a[href*="/status/"] + span + span span {
        display: none;
      }
      a[href$="/analytics"] {
        span {
        display: none;
        }
      }
      div:has(>a>time) ~ div span:has(>span)  {
        display: none;
      }
    }
    div[role="dialog"] {
      a[href$="/analytics"] {
        span {
        display: none;
        }
      }
    }
  }

  &.isReactionNumberDetailHidden {
    div[data-testid="primaryColumn"] article {
      a[href$="/retweets"]:not(:hover) span,
      a[href$="/retweets/with_comments"]:not(:hover) span,
      a[href$="/likes"]:not(:hover) span {
        display: none;
      }
    }

    div[role="dialog"] {
      div[role="group"]:not(:hover) button {
        &[data-testid="reply"],
        &[data-testid="retweet"],
        &[data-testid="unretweet"],        
        &[data-testid="like"],        
        &[data-testid="unlike"],
        &[data-testid="bookmark"],
        &[data-testid="removeBookmark"]
        {
          span {
            opacity: 0 !important;
            transition-property: transform, opacity !important;
          }
        }
      }
      a[href$="/retweets"]:not(:hover) span,
      a[href$="/retweets/with_comments"]:not(:hover) span,
      a[href$="/likes"]:not(:hover) span {
        display: none;
      }
    }

    &.isReactionNumberAlwaysHidden {
      div[data-testid="primaryColumn"] article {
        a[href$="/retweets"] span,
        a[href$="/retweets/with_comments"] span,
        a[href$="/likes"] span {
          display: none;
        }
      }

      div[role="dialog"] {
        div[role="group"] button {
          &[data-testid="reply"],
          &[data-testid="retweet"],
          &[data-testid="unretweet"],        
          &[data-testid="like"],        
          &[data-testid="unlike"],
          &[data-testid="bookmark"],
          &[data-testid="removeBookmark"]
          {
            span {
              opacity: 0 !important;
              transition-property: transform, opacity !important;
            }
          }
          }  
        a[href$="/retweets"] span,
        a[href$="/retweets/with_comments"] span,
        a[href$="/likes"] span {
          display: none;
        }
      }
    }
  }

  &.showCalmText {
    header[role="banner"] h1[role="heading"] {
      &::after {
        position: absolute;
        left: 3.75rem;
        top: auto;
        top: bottom;
        display: inline-block;
        width: 120px;
        font-weight: 700;
        font-size: 1rem;
        color: #0f1419;
        cursor: default;
        font-family: sans-serif;

        @media screen and (max-width: 1264px) {
          margin-top: -0.5em;
          position: relative;
          width: auto;
          left: unset;
          top: unset;
          font-size: 10px;
        }
      }
    }
  }

  &.isFollowingNumberHidden {
    div.r-u8s1d div.r-1upvrn0,
    div.r-u8s1d div.r-xnswec,
    div.r-u8s1d div.r-qo02w8 {
      div.css-175oi2r.r-18u37iz.r-1w6e6rj > div:first-child > a > span:first-child {
        display: none !important;
      }
    }

    div[data-testid="primaryColumn"] > div > div > div > div > div {
      & div.css-175oi2r.r-dr54s0 > div.css-175oi2r.r-18u37iz.r-1w6e6rj > div:first-child > a > span:first-child,
      & div.css-175oi2r.r-1cad53l > div.css-175oi2r.r-18u37iz.r-1w6e6rj > div:first-child > a > span:first-child,
      & div.css-175oi2r.r-ku1wi2 > div.css-175oi2r.r-18u37iz.r-1w6e6rj > div:first-child > a > span:first-child,
      & div.css-175oi2r.r-1ifxtd0 > div.css-175oi2r.r-18u37iz.r-1w6e6rj > div:first-child > a > span:first-child,
      & div.css-175oi2r.r-le4sbl > div.css-175oi2r.r-18u37iz.r-1w6e6rj > div:first-child > a > span:first-child {
        display: none !important;
      }
    }
  }

  &.isFollowerNumberHidden {
    div.r-u8s1d div.r-1upvrn0,
    div.r-u8s1d div.r-xnswec,
    div.r-u8s1d div.r-qo02w8 {
      div.css-175oi2r.r-18u37iz.r-1w6e6rj > div:last-child > a > span:first-child {
        display: none !important;
      }
    }

    div[data-testid="primaryColumn"] > div > div > div > div > div {
      & div.css-175oi2r.r-dr54s0 > div.css-175oi2r.r-18u37iz.r-1w6e6rj > div:last-child > a > span:first-child,
      & div.css-175oi2r.r-1cad53l > div.css-175oi2r.r-18u37iz.r-1w6e6rj > div:last-child > a > span:first-child,
      & div.css-175oi2r.r-ku1wi2 > div.css-175oi2r.r-18u37iz.r-1w6e6rj > div:last-child > a > span:first-child,
      & div.css-175oi2r.r-1ifxtd0 > div.css-175oi2r.r-18u37iz.r-1w6e6rj > div:last-child > a > span:first-child,
      & div.css-175oi2r.r-le4sbl > div.css-175oi2r.r-18u37iz.r-1w6e6rj > div:last-child > a > span:first-child {
        display: none !important;
      }
    }
  }

  &.isWhoToFollowHidden {
    div[data-testid="primaryColumn"] > div > div > div > div > section > div > div > div > div  {
      *[data-testid="UserCell"],
      a[href*="/i/connect_people?user_id="] {
        display: none;
      }
    }
  }

  &.isTopicsToFollowHidden {
    div[data-testid="primaryColumn"] > div > div:nth-child(3) > div > div > section:nth-child(3) > div {
      a[aria-labelledby*=" topic-name"],
      a[href*="/i/flow/topics_selector"],
      a[href*="/i/topics/picker/home"] {
        display: none;
      }

      section[aria-labelledby^="accessible-list-"] > div[aria-label$="Carousel"] {
        display: none;
      }
    }
  }

  &.isFontChanged {
    .r-1tl8opc {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Kaku Gothic ProN", Meiryo, system-ui,
        sans-serif;
    }
  }
}