body {
  &.isExploreHidden {
    a[data-testid="AppTabBar_Explore_Link"] {
      display: none !important;
    }
  }

  &.isTrendsHidden {
    div[data-testid="sidebarColumn"]
      > div
      > div
      > div
      > div
      > div.css-1dbjc4n {
        > div:not(:first-child):not(:last-child):not(:nth-child(3)):not(.r-ahm1il) {
            display: none !important;
        }
        > div:nth-child(3):not(.r-14lw9ot):not(.r-yfoy6g):not(.r-kemksi) {
          display: none !important;
        }
        section[aria-labelledby^="accessible-list-"] {
          display: none !important;
        }
    }
  }

  &.isReactionNumberHidden {
    div[data-testid="primaryColumn"]
      article
      div[role="group"]
      div[role="button"]
      span {
      opacity: 0 !important;
      transition-property: transform, opacity !important;
    }
    div[data-testid="primaryColumn"]
      article:hover
      div[role="group"]
      div[role="button"]
      span {
      opacity: 1 !important;
    }

    &.isReactionNumberAlwaysHidden {
      div[data-testid="primaryColumn"]
        article:hover
        div[role="group"]
        div[role="button"]
        span {
        opacity: 0 !important;
        transition-property: transform, opacity !important;
      }
    }
  }

  &.showCalmText {
    header[role="banner"] h1[role="heading"] {
      &::after {
        position: absolute;
        left: 3.75em;
        top: 1em;
        display: inline-block;
        width: 120px;
        font-weight: 700;
        color: rgb(29, 161, 242);
        cursor: default;
        font-family: sans-serif;
        @media screen and (max-width: 1279px) {
          margin-top: -0.5em;
          position: relative;
          width: auto;
          left: unset;
          top: unset;
          font-size: 10px;
        }
      }
    }
  }

  &.isFollowingNumberHidden {
    div.r-u8s1d div.r-1upvrn0,
    div.r-u8s1d div.r-xnswec,
    div.r-u8s1d div.r-qo02w8 {
      div.css-1dbjc4n.r-18u37iz.r-1w6e6rj>div:first-child>a>span:first-child {
        display: none !important;
      }
    }
    div[data-testid="primaryColumn"] > div > div > div > div > div,
    div[data-testid="primaryColumn"] > div > div > div > div > div > div {
      &
        > div.css-1dbjc4n.r-dr54s0
        > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj
        > div:first-child
        > a
        > span:first-child,
      &
        > div.css-1dbjc4n.r-1cad53l
        > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj
        > div:first-child
        > a
        > span:first-child,
      &
        > div.css-1dbjc4n.r-ku1wi2
        > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj
        > div:first-child
        > a
        > span:first-child,
      &
        > div.css-1dbjc4n.r-1ifxtd0
        > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj
        > div:first-child
        > a
        > span:first-child,
      &
        > div.css-1dbjc4n.r-le4sbl
        > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj
        > div:first-child
        > a
        > span:first-child {
        display: none !important;
      }
    }
  }

  &.isFollowerNumberHidden {
    div.r-u8s1d div.r-1upvrn0,
    div.r-u8s1d div.r-xnswec,
    div.r-u8s1d div.r-qo02w8 {
      div.css-1dbjc4n.r-18u37iz.r-1w6e6rj > div:last-child > a > span:first-child {
        display: none !important;
      }
    }
    div[data-testid="primaryColumn"] > div > div > div > div > div,
    div[data-testid="primaryColumn"] > div > div > div > div > div > div {
      &
        > div.css-1dbjc4n.r-dr54s0
        > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj
        > div:last-child
        > a
        > span:first-child,
      &
        > div.css-1dbjc4n.r-1cad53l
        > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj
        > div:last-child
        > a
        > span:first-child,
      &
        > div.css-1dbjc4n.r-ku1wi2
        > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj
        > div:last-child
        > a
        > span:first-child,
      &
        > div.css-1dbjc4n.r-1ifxtd0
        > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj
        > div:last-child
        > a
        > span:first-child,
      &
        > div.css-1dbjc4n.r-le4sbl
        > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj
        > div:last-child
        > a
        > span:first-child {
        display: none !important;
      }
    }
  }

  &.isWhoToFollowHidden {
    div[data-testid=primaryColumn] > div > div:nth-child(2) > div > div > div:nth-child(3) > section div.css-1dbjc4n[data-testid=UserCell] {
      display: none;
    }
    div[data-testid=primaryColumn] > div > div:nth-child(2) > div > div > div:nth-child(3) > section a[href*="/i/connect_people?user_id="] {
      display: none;
    }
  }

  &.isTopicsToFollowHidden {
    div[data-testid=primaryColumn] > div > div:nth-child(2) > div > div > div:nth-child(3) > section  a[aria-labelledby*=" topic-name"] {
      display: none;
    }
    div[data-testid=primaryColumn] > div > div:nth-child(2) > div > div > div:nth-child(3) > section a[href*="/i/flow/topics_selector"] {
     display: none;
    }
  }
}
