body {
  &.isExploreHidden {
    a[data-testid="AppTabBar_Explore_Link"] {
      display: none !important;
    }
  }

  &.isTrendsHidden {
    div[data-testid="sidebarColumn"] > div > div > div > div > div.css-1dbjc4n {
      > div:not(:first-child):not(:last-child):not(:nth-child(2)):not(:nth-child(3)):not(.r-195d4m8):not(.r-ahm1il):not(.r-1h3ijdo):not(.r-1mwlp6a):not(.r-1ninfw3) {
        display: none !important;
      }

      > div:nth-child(3):not(.r-14lw9ot):not(.r-yfoy6g):not(.r-kemksi) {
        display: none !important;
      }

      section[aria-labelledby^="accessible-list-"] {
        display: none !important;
      }

      > div:first-child.r-1ihkh82,
      > div:first-child.r-1uaug3w,
      > div:first-child.r-1ysxnx4 {
        display: none !important;
      }
    }
  }

  &.isReactionNumberHidden {
    div[data-testid="primaryColumn"] article:not(:hover) div[role="group"] div[role="button"] span {
      opacity: 0 !important;
      transition-property: transform, opacity !important;
    }

    &.isReactionNumberAlwaysHidden {
      div[data-testid="primaryColumn"] article div[role="group"] div[role="button"] span {
        opacity: 0 !important;
        transition-property: transform, opacity !important;
      }
    }
  }

  &.isViewCountHidden {
    article[data-testid="tweet"] {
      div.r-1wtj0ep a[href*="/status/"] + span + span  span[data-testid="app-text-transition-container"] {
        display: none;
      }
      a[href$="/analytics"] {
        .r-1tl8opc {
          display: none;
        }
        span[data-testid="app-text-transition-container"] {
        display: none;
        }
      }
    }
  }

  &.isReactionNumberDetailHidden {
    div[data-testid="primaryColumn"] article {
      a[href$="/retweets"]:not(:hover) span[data-testid="app-text-transition-container"],
      a[href$="/retweets/with_comments"]:not(:hover) span[data-testid="app-text-transition-container"],
      a[href$="/likes"]:not(:hover) span[data-testid="app-text-transition-container"] {
        display: none;
      }
    }

    div[role="dialog"] {
      div[role="group"]:not(:hover) div[role="button"] {
        &[data-testid="reply"] span[data-testid="app-text-transition-container"],
        &[data-testid="retweet"] span[data-testid="app-text-transition-container"],
        &[data-testid="unretweet"] span[data-testid="app-text-transition-container"],        
        &[data-testid="like"] span[data-testid="app-text-transition-container"],        
        &[data-testid="unlike"] span[data-testid="app-text-transition-container"]
        {
          opacity: 0 !important;
          transition-property: transform, opacity !important;
        }
      }
      a[href$="/retweets"]:not(:hover) span[data-testid="app-text-transition-container"],
      a[href$="/retweets/with_comments"]:not(:hover) span[data-testid="app-text-transition-container"],
      a[href$="/likes"]:not(:hover) span[data-testid="app-text-transition-container"] {
        display: none;
      }
    }

    &.isReactionNumberAlwaysHidden {
      div[data-testid="primaryColumn"] article {
        a[href$="/retweets"] span[data-testid="app-text-transition-container"],
        a[href$="/retweets/with_comments"] span[data-testid="app-text-transition-container"],
        a[href$="/likes"] span[data-testid="app-text-transition-container"] {
          display: none;
        }
      }

      div[role="dialog"] {
        div[role="group"] div[role="button"] {
          &[data-testid="reply"] span[data-testid="app-text-transition-container"],
          &[data-testid="retweet"] span[data-testid="app-text-transition-container"],
          &[data-testid="unretweet"] span[data-testid="app-text-transition-container"],        
          &[data-testid="like"] span[data-testid="app-text-transition-container"],        
          &[data-testid="unlike"] span[data-testid="app-text-transition-container"]
          {
            opacity: 0 !important;
            transition-property: transform, opacity !important;
          }
        }  
        a[href$="/retweets"] span[data-testid="app-text-transition-container"],
        a[href$="/retweets/with_comments"] span[data-testid="app-text-transition-container"],
        a[href$="/likes"] span[data-testid="app-text-transition-container"] {
          display: none;
        }
      }
    }
  }

  &.showCalmText {
    header[role="banner"] h1[role="heading"] {
      &::after {
        position: absolute;
        left: 3.75em;
        top: 1em;
        display: inline-block;
        width: 120px;
        font-weight: 700;
        color: rgb(29, 161, 242);
        cursor: default;
        font-family: sans-serif;

        @media screen and (max-width: 1264px) {
          margin-top: -0.5em;
          position: relative;
          width: auto;
          left: unset;
          top: unset;
          font-size: 10px;
        }
      }
    }
  }

  &.isFollowingNumberHidden {
    div.r-u8s1d div.r-1upvrn0,
    div.r-u8s1d div.r-xnswec,
    div.r-u8s1d div.r-qo02w8 {
      div.css-1dbjc4n.r-18u37iz.r-1w6e6rj > div:first-child > a > span:first-child {
        display: none !important;
      }
    }

    div[data-testid="primaryColumn"] > div > div > div > div > div {
      & div.css-1dbjc4n.r-dr54s0 > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj > div:first-child > a > span:first-child,
      & div.css-1dbjc4n.r-1cad53l > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj > div:first-child > a > span:first-child,
      & div.css-1dbjc4n.r-ku1wi2 > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj > div:first-child > a > span:first-child,
      & div.css-1dbjc4n.r-1ifxtd0 > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj > div:first-child > a > span:first-child,
      & div.css-1dbjc4n.r-le4sbl > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj > div:first-child > a > span:first-child {
        display: none !important;
      }
    }
  }

  &.isFollowerNumberHidden {
    div.r-u8s1d div.r-1upvrn0,
    div.r-u8s1d div.r-xnswec,
    div.r-u8s1d div.r-qo02w8 {
      div.css-1dbjc4n.r-18u37iz.r-1w6e6rj > div:last-child > a > span:first-child {
        display: none !important;
      }
    }

    div[data-testid="primaryColumn"] > div > div > div > div > div {
      & div.css-1dbjc4n.r-dr54s0 > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj > div:last-child > a > span:first-child,
      & div.css-1dbjc4n.r-1cad53l > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj > div:last-child > a > span:first-child,
      & div.css-1dbjc4n.r-ku1wi2 > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj > div:last-child > a > span:first-child,
      & div.css-1dbjc4n.r-1ifxtd0 > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj > div:last-child > a > span:first-child,
      & div.css-1dbjc4n.r-le4sbl > div.css-1dbjc4n.r-18u37iz.r-1w6e6rj > div:last-child > a > span:first-child {
        display: none !important;
      }
    }
  }

  &.isWhoToFollowHidden {
    div[data-testid="primaryColumn"] > div > div:nth-child(3) > div > div > section:nth-child(3) > div {
      div.css-1dbjc4n[data-testid="UserCell"],
      a[href*="/i/connect_people?user_id="] {
        display: none;
      }
    }
  }

  &.isTopicsToFollowHidden {
    div[data-testid="primaryColumn"] > div > div:nth-child(3) > div > div > section:nth-child(3) > div {
      a[aria-labelledby*=" topic-name"],
      a[href*="/i/flow/topics_selector"],
      a[href*="/i/topics/picker/home"] {
        display: none;
      }

      section[aria-labelledby^="accessible-list-"] > div[aria-label$="Carousel"] {
        display: none;
      }
    }
  }

  &.isFontChanged {
    .r-1tl8opc {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Kaku Gothic ProN", Meiryo, system-ui,
        sans-serif;
    }
  }
}
