body {
  &.isExploreHidden {
    a[data-testid="AppTabBar_Explore_Link"] {
      display: none !important;
    }
  }

  &.isTrendsHidden {
    div[data-testid="sidebarColumn"]
      > div
      > div
      > div
      > div
      > div.css-1dbjc4n
      > div:not(:first-child):not(:last-child):not(.r-1tlfku8):not(.r-18bvks7):not(.r-1kqtdi0) {
      &:not(.r-195d4m8):not(.r-ahm1il):not(.r-1h3ijdo):not(.r-1mwlp6a):not(.r-1ninfw3) {
        display: none !important;
      }
    }
  }

  &.isReactionNumberHidden {
    div[data-testid="primaryColumn"]
      article
      div[role="group"]
      div[role="button"]
      span {
      opacity: 0 !important;
      transition-property: transform, opacity !important;
    }
    div[data-testid="primaryColumn"]
      article:hover
      div[role="group"]
      div[role="button"]
      span {
      opacity: 1 !important;
    }

  &.showCalmText {
    header[role="banner"] h1[role="heading"] {
      &::after {
        position: absolute;
        left: 3.75em;
        top: 1em;
        display: inline-block;
        width: 120px;
        font-weight: 700;
        color: rgb(29, 161, 242);
        cursor: default;

        @media screen and (max-width: 1279px) {
          margin-top: -0.5em;
          position: relative;
          width: auto;
          left: unset;
          top: unset;
          font-size: 10px;
        }
      }
    }
}